{% block body %}
{% load custom_filters %}
<table class="table">
    <thead>
        <tr>
            {% for key in keys %}
            <th scope="col" class="px-6 py-3">
                {{key}}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

        {% for key_log in key_logs %}
        <tr scope = "row">
                {% for key in keys %}
                <td class=" px-6 py-4">
            {{ key_log|get_value:key }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}